@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-black;
}

::selection {
  @apply text-black bg-white;
}

::-moz-selection {
  @apply text-black bg-white;
}

@font-face {
  font-family: 'Grifter';
  font-style: normal;
  font-weight: bold;
  src: url('./grifter.otf');
  font-display: swap;
}
