.backdrop-blur {
  backdrop-filter: blur(5px);
}

.link {
  @apply relative no-underline;

  &:before {
    content: '';
    @apply bg-green-300 absolute w-full bottom-1 left-1 h-1 transition-all bg-opacity-75;
  }

  &:hover {
    &:before {
      @apply left-0 bottom-0 bg-opacity-100;
    }
  }
}

.prose {
  &.markdown {
    h2,
    h3,
    h4,
    strong {
      @apply font-medium;
    }

    a {
      @extend .link;
    }

    code {
      &:before,
      &:after {
        content: none;
      }

      @apply bg-gray-200 rounded-md px-2 py-1;
    }
  }
}
